<head>
    <title>News Setiment</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="css/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/common.css">
</head>